<div class="card">
  <div class="card-header">
    Add New Proprty
  </div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit()' #Form='ngForm'>
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input type="text" class="form-control" #propName="ngModel" ngModel name="propertyName" required minlength="5">
        <span *ngIf="!propName.valid && propName.touched" class="errorBlock">
          <span *ngIf="propName.errors.required">Please provide property name</span>
          <span *ngIf="propName.errors.minlength">Should be 5 characters or more</span>
        </span>
      </div>
      <div class="form-group col-12">
        <label for="type">Type</label>
        <input type="text" class="form-control" ngModel name="propertyType" required>
      </div>
      <div class="form-group col-12">
        <label for="price">Price</label>
        <input type="text" class="form-control" ngModel name="propertyPrice" required>
      </div>
      <div class="form-group col-12">
        <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-1">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </form>
  </div>
</div>