.card {
    height:500px;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.card:hover img{
    transform: scale(1.2, 1.2);
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    height: 320px;
    opacity: .5;
}

.card img{
    transform: scale(1, 1);
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    height: 320px;
}

.card-img-wrapper:hover .member-icons {
     opacity: 1;
}

.member-icons {
    position: relative;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.animate {
    transition: all 400ms ease-in-out;
}