<!-- Current Date (local): {{Today}} <br>
Current Date (Malaysia): {{Today|date: 'medium': 'GMT+8'}} -->
<label>Search City : &nbsp; </label>
<input [(ngModel)]='City' type="text">
<Button type="button" (click)="onCityFilter()" title="Search"><i class="fas fa-search-location"></i></Button>
<Button type="button" (click)="onClearCityFilter()" title="Clear"><i class="fas fa-eraser"></i></Button>

<label>Sort by &nbsp;</label>
<select [(ngModel)] = 'SortbyParam'>
  <option value="City">City</option>
  <option value="Price">Price</option>
</select>
<button type="button" (click) = "onSortDirection()" title="Toggle Sort Order">
  <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>

<div class="row">
    <div *ngFor="let property of properties|filter:SearchCity : 'City'|sort:[SortbyParam, SortDirection]" class="shadow-lg col-lg-4 p-3">
        <app-property-card [property]="property" [hideIcons]="false"></app-property-card>
    </div>
</div>